In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import os
gkey = ""

# Import API key
#from api_keys import g_key

In [3]:
path = "output_data/cities.csv"
cities_df = pd.read_csv(path)
cities_df.head(3)

,City,Latitude,Longitude,Max Temp (K),Humidity,Sky Description,Cloudiness %,Wind speed,Country,Date,Max Temp (F)
0,Albany,42.60,-73.97,285.93,64,scattered clouds,39,1.57,US,1601605573,55.27
1,Te Anau,-45.42,167.72,283.58,77,overcast clouds,100,4.40,NZ,1601605573,51.04
2,Hobart,-42.88,147.33,293.15,34,scattered clouds,40,9.80,AU,1601605574,68.27

In [4]:
cities_df_new = cities_df[['Latitude','Longitude']]
cities_df_new.head(3)

   Latitude  Longitude
0     42.60     -73.97
1    -45.42     167.72
2    -42.88     147.33

In [5]:
locations = cities_df_new
humidity = cities_df['Humidity']
new_york_coordinates = (40.75, -74.00)
fig = gmaps.figure(center=new_york_coordinates, zoom_level=1.37)
fig.add_layer(gmaps.heatmap_layer(locations,weights=humidity))
fig

# var heatmap = new google.maps.visualization.HeatmapLayer({
#   data: heatmapData
# });
# heatmap.setMap(map);

Figure(layout=FigureLayout(height=&#39;420px&#39;))

In [17]:
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK

In [6]:
cities_df.head(3)

,City,Latitude,Longitude,Max Temp (K),Humidity,Sky Description,Cloudiness %,Wind speed,Country,Date,Max Temp (F)
0,Albany,42.60,-73.97,285.93,64,scattered clouds,39,1.57,US,1601605573,55.27
1,Te Anau,-45.42,167.72,283.58,77,overcast clouds,100,4.40,NZ,1601605573,51.04
2,Hobart,-42.88,147.33,293.15,34,scattered clouds,40,9.80,AU,1601605574,68.27

In [7]:
cities_df.columns

Index([&#39;City&#39;, &#39;Latitude&#39;, &#39;Longitude&#39;, &#39;Max Temp (K)&#39;, &#39;Humidity&#39;,
       &#39;Sky Description&#39;, &#39;Cloudiness %&#39;, &#39;Wind speed&#39;, &#39;Country&#39;, &#39;Date&#39;,
       &#39;Max Temp (F)&#39;],
      dtype=&#39;object&#39;)

In [9]:
hotel_df = cities_df.loc[(cities_df["Max Temp (F)"] < 80) & (cities_df["Max Temp (F)"] > 70) \
    & (cities_df["Wind speed"]<10) & (cities_df["Cloudiness %"] == 0)].dropna()
hotel_df.head(3)

,City,Latitude,Longitude,Max Temp (K),Humidity,Sky Description,Cloudiness %,Wind speed,Country,Date,Max Temp (F)
24,Avarua,-21.21,-159.78,299.15,83,clear sky,0,7.20,CK,1601605581,79.07
53,Kulachi,31.93,70.46,299.52,14,clear sky,0,4.93,PK,1601605591,79.74
54,Rikitea,-23.12,-134.97,296.11,80,clear sky,0,8.30,PF,1601605591,73.60

In [12]:
hotel_df['Hotel Name'] = ""
hotel_df.head(3)

,City,Latitude,Longitude,Max Temp (K),Humidity,Sky Description,Cloudiness %,Wind speed,Country,Date,Max Temp (F),Hotel Name
24,Avarua,-21.21,-159.78,299.15,83,clear sky,0,7.20,CK,1601605581,79.07,
53,Kulachi,31.93,70.46,299.52,14,clear sky,0,4.93,PK,1601605591,79.74,
54,Rikitea,-23.12,-134.97,296.11,80,clear sky,0,8.30,PF,1601605591,73.60,

In [46]:
#take the lat, lng from your dataframe and zip them into touples
latlngs = list(zip(hotel_df['Latitude'], hotel_df ['Longitude']))

#what if I created a new colum of lat, long touples so I could iterate through the dataframe rather than a list? Would that make it easier 

params = {
    "radius": 5000,
    "type": 'lodging',
    "key": gkey
}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # run a request using our params dictionary

for latlng in latlngs: 
    params["location"] = latlng
    # base url
    response = requests.get(base_url, params=params).json()
    results = response['results']
    try: 
        print(f"Closest {latlng}")
        hotel_df.loc[hotel_df['Hotel Name']] = results[0]['name']
    except (KeyError, IndexError):
         print("not here")
    print("------------")mmm






#     results = response['results']
#     try: 
#         hotel_df.loc['Hotel Name'] = results[0]['name']
#     except (KeyError, IndexError):
#         print("Missing field/result... skipping.")
# response

        
    

#create a for loop that appends location to pramas 
    # "location": target_coordinates,



# target_radius = 50000
# target_type = 'lodging'

# params = {
#     "location": target_coordinates,
#     "keyword": target_type,
#     "radius": target_radius,
#     "key": gkey
# }


# #baseurl
# base_url = "https://maps.googleapis.com/maps/api/geocode/json"


# response = requests.get(base_url, params=params)
# vacay_data = response.json()
# vacay_data
# # print(json.dumps(vacay_data, indent=4, sort_keys=True))

Closest (-21.21, -159.78)
not here
------------
Closest (31.93, 70.46)
not here
------------
Closest (-23.12, -134.97)
not here
------------
Closest (29.11, 21.29)
not here
------------
Closest (12.99, 7.6)
not here
------------
Closest (31.72, -116.57)
not here
------------
Closest (-12.36, -44.97)
not here
------------
Closest (-19.67, 22.27)
not here
------------
Closest (-24.79, -50.01)
not here
------------
Closest (-38.33, 143.58)
not here
------------
Closest (-37.83, 140.77)
not here
------------
Closest (29.97, 40.21)
not here
------------
Closest (14.4, 46.47)
not here
------------
Closest (-16.84, 36.99)
not here
------------
Closest (-38.27, 141.97)
not here
------------
Closest (-8.93, 125.41)
not here
------------
Closest (37.05, 140.88)
not here
------------
Closest (27.04, 14.43)
not here
------------
Closest (24.69, 46.72)
not here
------------
Closest (-25.52, -48.51)
not here
------------
Closest (31.28, 49.6)
not here
------------
Closest (8.41, 48.48)
not here
------------
Closest (-15.86, 27.75)
not here
------------
Closest (29.03, 21.55)
not here
------------
Closest (-43.53, 172.63)
not here
------------

,City,Latitude,Longitude,Max Temp (K),Humidity,Sky Description,Cloudiness %,Wind speed,Country,Date,Max Temp (F),Hotel Name
24,Avarua,-21.21,-159.78,299.15,83,clear sky,0,7.20,CK,1601605581,79.07,
53,Kulachi,31.93,70.46,299.52,14,clear sky,0,4.93,PK,1601605591,79.74,
54,Rikitea,-23.12,-134.97,296.11,80,clear sky,0,8.30,PF,1601605591,73.60,
66,Awjilah,29.11,21.29,297.65,40,clear sky,0,2.92,LY,1601605595,76.37,
98,Katsina,12.99,7.60,298.34,72,clear sky,0,5.16,NG,1601605605,77.61,
108,Rodolfo Sánchez Taboada,31.72,-116.57,297.04,80,clear sky,0,0.89,MX,1601605607,75.27,
110,São Desidério,-12.36,-44.97,294.62,29,clear sky,0,1.32,BR,1601605608,70.92,
115,Nokaneng,-19.67,22.27,294.99,46,clear sky,0,3.13,BW,1601605609,71.58,
123,Castro,-24.79,-50.01,294.88,52,clear sky,0,0.92,BR,1601605611,71.38,
143,Colac,-38.33,143.58,294.82,66,clear sky,0,0.45,AU,1601605616,71.28,
146,Mount Gambier,-37.83,140.77,296.15,46,clear sky,0,7.70,AU,1601605617,73.67,
148,Sakakah,29.97,40.21,296.15,20,clear sky,0,3.10,SA,1601605618,73.67,
167,Marzuq,14.40,46.47,295.23,62,clear sky,0,0.63,YE,1601605624,72.01,
205,Mocuba,-16.84,36.99,294.44,80,clear sky,0,1.76,MZ,1601605634,70.59,
236,Codrington,-38.27,141.97,294.76,65,clear sky,0,5.80,AU,1601605643,71.17,
273,Airai,-8.93,125.41,297.65,47,clear sky,0,3.13,TL,1601605654,76.37,
344,Iwaki,37.05,140.88,298.15,57,clear sky,0,1.34,JP,1601605673,77.27,
355,Sabha,27.04,14.43,299.49,29,clear sky,0,3.74,LY,1601605676,79.68,
364,Riyadh,24.69,46.72,296.15,27,clear sky,0,1.50,SA,1601605407,73.67,
382,Paranaguá,-25.52,-48.51,295.15,64,clear sky,0,2.60,BR,1601605486,71.87,
384,Rāmhormoz,31.28,49.60,298.15,65,clear sky,0,2.10,IR,1601605684,77.27,
421,Garoowe,8.41,48.48,297.54,70,clear sky,0,3.72,SO,1601605694,76.17,
447,Mazabuka,-15.86,27.75,296.15,43,clear sky,0,4.34,ZM,1601605703,73.67,
482,Jalu,29.03,21.55,297.89,41,clear sky,0,2.82,LY,1601605714,76.80,
490,Christchurch,-43.53,172.63,294.15,32,clear sky,0,2.60,NZ,1601605450,70.07,

In [31]:


# function initialize() {
#     iterable_list = new google.maps.LatLng(-33.8665433,151.1956316);

#   map = new google.maps.Map(document.getElementById('map'), {
#       center: iterable_list,
#       zoom: 15
#     });

#   var request = {
#     location: iterable_list,
#     radius: '5000',
#     type: ['hotel'] #confirm this is a term you can use
#   };

#   service = new google.maps.places.PlacesService(map);
#   service.nearbySearch(request, callback);
# }

# function callback(results, status) {
#   if (status == tbd google.maps.places.PlacesServiceStatus.OK) {
#     for (var i = 0; i < results.length; i++) {
#       createMarker(results[i])
#       hotel.append(vacay_weather['api info'])
      
#       ;
#     }
#   }
# }

SyntaxError: invalid syntax (&lt;ipython-input-31-72aa11097bd1&gt;, line 1)

In [32]:
HotelLayer.setMap(map);
fig.add_layer(gmaps.    (locations,weights=humidity))


var map;
var service;
var infowindow;

#for this function can the lat and long vary. If so should I create a for loop that passes the above pair of lats and longs to this function? 
function initialize() {
  var pyrmont = new google.maps.LatLng([i],[y]);

SyntaxError: invalid syntax (&lt;ipython-input-32-b09f5f43fcc9&gt;, line 2)

In [ ]:
#now from your old dataframe add a new column for hotels
vacay_df['Hotel Name'] = hotels

In [33]:
import requests
import json
gkey = "AIzaSyA_FYIKk2ABVaTEPilKOnzeUSlXjP7iuh8"
target_city = "Seattle, Washington"

params = {"address": target_city, "key": gkey}

# Build URL using the Google Maps API - Nearby Search requests
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/output?parameters"
# https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=1500&type=restaurant&keyword=cruise&key=YOUR_API_KEY
# base_url + location=" " + radius=""& + type=""& + gkey=""


print("Drill #1: The Geocoordinates of Seattle, WA")

# Run request
response = requests.get(base_url, params=params)

# print the response URL, avoid doing for public GitHub repos in order to avoid exposing key
# print(response.url)

# Convert to JSON
seattle_geo = response.json()
seattle_geo

# # Extract lat/lng
# lat = seattle_geo["results"][0]["geometry"]["location"]["lat"]
# lng = seattle_geo["results"][0]["geometry"]["location"]["lng"]

# # Print results
# print(f"{target_city}: {lat}, {lng}")

Drill #1: The Geocoordinates of Seattle, WA

JSONDecodeError: Expecting value: line 1 column 1 (char 0)